body {
    height: 100vh;
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 100px;
}

h1{
    color: #FFFFFF;
    font-family: sans-serif;
    justify-content: right;
    size: 30px;
    margin-bottom: 40px;
}

form {
    background-color: #00497acc;
    padding: 20px;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    border-radius: 10px;
    box-shadow: 0 0 15px #00bf7266;
}

form input {
    background-color: #00bf72e6;
    border: none;
    outline: none;
    color: #f0f8ff;
    padding: 10px 15px;
    width: 200px;
    flex-grow: 1;
    border-radius: 5px;
    size: 50px;
}

form input::placeholder {
    color: #e0f0f0;
}

form button {
    background-color: #00bf72;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    flex-basis: 30px;
    flex-grow: 1;
}

form button:hover {
    background-color: #008793;
}
table{
    width: 100%;
    text-align: center;
    
}
h2 {
    text-align: center;
    margin-bottom: 5px;
    margin-top: 30px;
    font-size: 22px;
    color: #fff;
    font-weight: 600;
}

table {
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
    text-align: center;
    background: rgba(255, 255, 255, 0.08);
    border-radius: 10px;
    overflow: hidden;
}

th, td {
    padding: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    color: #f2f2f2;
    font-size: 16px;
}

th {
    background: rgba(255, 255, 255, 0.15);
    color: #fff;
    font-weight: bold;
}